
.container {
  background-color: moccasin;
  color: rgb(41, 35, 1);
}

.jumbotron {
  background-color: #814a4a;
  color: black;
  margin-top: 3%;
  text-align: center;
}

#leftSide {
  background-color: #b38545;
  color: rgb(53, 11, 11);
  text-align: center;
  font-size: 1.3em;
}
#rightSide {
  background-color: #b38545;
  color: rgb(53, 11, 11);
  text-align: center;
  font-size: 1.3em;
}